body {
  height: 100vh;
  background: linear-gradient(to right, rgb(0, 162, 255), rgb(255, 0, 255));
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  font-size: 5rem;
  color: white;
}

.input-group {
  text-align: center;
  padding: 2rem;
}
pre {
  font-size: 1rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

code {
  font-family: "Source Code Pro", monospace;
  font-style: italic;
}
